$bg : #EEEEEE;
$yellow: #FFE600;
$black : #333333;
$gray : #999999;

$spec16: 16px;
$spec32: 32px;

$font12: 12px;
$font14: 14px;
$font16: 16px;
$font24: 24px;
$font28: 28px;
$font46: 46px;
    
.wrap-list {
    background: white;
    padding: 15px 10px;
    border-radius: 0.25rem;
}
