@import '../../../App.scss';

.breadcrumb {
    margin-bottom: $spec16;
    margin-top: $spec16;
    color: $gray;
    background-color: transparent;

    .breadcrumb-item {
        font-size: $font14;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }
    
    .breadcrumb-item:last-child {
        font-weight: bold;
    }
}
