@import '../../../App.scss';

.wrap-list{
    h1 {
        margin-top: $spec32;
        font-size: $font28;
        margin-bottom: $spec32;
    }

    h6 {
        margin-top: $spec32;
        margin-bottom: $spec16;
        font-size: $font14;
    }

    h4 {
        font-size: $font24;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    h3 {
        margin-top: $spec32;
        margin-bottom: $spec32;
        font-size: $font46;
        font-weight: 400;
    }

    p {
        margin-top: $spec32;
        font-size: $font16;
        color: $gray;
    }

    .price {
        display: -webkit-inline-box;
    }

    .decimal-part {
        margin-top: 30px;
        font-size: $font24;
        margin-bottom: $spec32;
        color: black;
    }

    button {
        margin-right: $spec32;
        width: 75%;
    }

    .items-not-found {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
